body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("./images/pokemon-fight-pose-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Center the image */
    height: 100vh;
    width: 100vw;
    align-items: center;
    color: #043966;
    font-family: mono, sans-serif;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 777px;
}

.pokeball {
    width: 200px;
}

.game-name {
    display: flex;
    width: 85%;
    min-width: 200px;
    margin-top: 25px;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 60%;
    align-items: center;
    gap: 30px;
}

.pokemon-wrapper {
    display: flex;
    gap: 25px;
}

#play-btn {
    font-size: 1.5rem;
    color: #1eb0b0;
}

button {
    background: #fff;
    border: none;
    color: #043966;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px 1px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-top: 25px;
}

button:hover {
    box-shadow: 0px 4px 10px 4px;
    transform: scale(1.1);
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#choices {
    display: flex;
    flex-direction: column;
}

.choices-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.choices-title {
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff91;
    border-top: 1px solid #ffffff91;
    padding: 10px;
    background: #ffffff6e;
    color: #5f36b5;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#selected-pokemon,
#enemy-pokemon {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
}

#selected-pokemon button {
    margin: 0 0 25px 0;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffa8;
    border-radius: 10px;
    padding: 0 0 15px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #043966;
    font-family: mono, sans-serif;
    box-shadow: 0px 4px 10px 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
    transform: scale(1.1);
}

.pokemon-card img,
.enemy-info img,
.selected-pokemon-card img {
    width: 200px;
}

.pokemon-card p,
.enemy-info p,
.selected-pokemon-card p {
    margin: 0;
    text-transform: uppercase;
}

.pokemon-info p,
.enemy-info p {
    margin-top: -12px;
}

.selected-pokemon-card,
.enemy-pokemon-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffffa8;
    border-radius: 10px;
    padding: 5px 0 5px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #043966;
    font-family: mono, sans-serif;
    box-shadow: 0px 4px 10px 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.enemy-pokemon-card {
    flex-direction: row;
}

.move-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #530a52;
    box-shadow: 0px 4px 10px 1px;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    height: 100%;
    background: #ffffff7a;
}

.enemy-move-img {
    width: 50px;
    width: 70px;
    padding: 20px;
}

.pokemon-health-score,
.enemy-health-score {
    text-transform: none !important;
    color: #0a6f10;
}

.moves-container,
.move-box,
.enemy-move-info {
    display: flex;
    flex-direction: column;
    height: 275px;
    padding: 20px;
    border-right: 1px solid #530a52;
}

.enemy-move-info h3 {
    color: #530a52;
    margin: 0 0 20px;
}

.move-box {
    border-right: none;
    border-left: 1px solid #530a52;
}

.move-box p {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    color: #530a52;
    margin: 0;
}

.moves-container h3 {
    color: #530a52;
    margin: 0 0 40px;
}

.move-btn,
.fight-btn {
    color: #530a52;
    box-shadow: 0px 4px 10px 1px;
    border: 1px solid #530a52;
}

.move-btn.active {
    color: #530a52;
    box-shadow: 0px 4px 10px 1px;
    pointer-events: none;
}

.move-btn:disabled {
    color: grey;
    border: 1px solid darkgrey;
    box-shadow: 0px 4px 10px 1px;
    pointer-events: none;
    animation: none;
}

.fight-btn {
    font-size: 1.8rem;
}

.fight-btn:disabled {
    color: grey;
    box-shadow: 0px 4px 10px 1px;
    pointer-events: none;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #8d168b71;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}
