html {
    background-color: #a8d248;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url("./images/pokemon-fight-pose-vector.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Center the image */
    height: 100vh;
    width: 100vw;
    align-items: center;
    color: #043966;
    font-family: mono, sans-serif;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: 777px;
}

.pokeball {
    width: 200px;
}

.game-name {
    display: flex;
    width: 85%;
    min-width: 200px;
    margin-top: 25px;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    align-items: center;
    gap: 30px;
}

.pokemon-wrapper {
    display: flex;
    gap: 25px;
}

#play-btn {
    font-size: 1.5rem;
    color: #1eb0b0;
}

button {
    background: #fff;
    border: none;
    color: #043966;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 36px;
    border-radius: 8px;
    text-transform: uppercase;
    box-shadow: 0px 4px 10px 1px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-top: 25px;
}

button:hover {
    box-shadow: 0px 4px 10px 4px;
    transform: scale(1.1);
}

#pokemon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

#choices {
    display: flex;
    flex-direction: column;
}

.choices-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.choices-title {
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff91;
    border-top: 1px solid #ffffff91;
    padding: 10px;
    background: #ffffff6e;
    color: #5f36b5;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#selected-pokemon,
#enemy-pokemon {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    align-items: center;
}

#selected-pokemon button {
    margin: 0 0 20px 0;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffffa8;
    border-radius: 10px;
    padding: 0 0 15px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #043966;
    font-family: mono, sans-serif;
    box-shadow: 0px 4px 10px 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.pokemon-card:hover {
    transform: scale(1.1);
}

.pokemon-card img,
.enemy-info img,
.selected-pokemon-card img {
    width: 200px;
}

.pokemon-card p,
.enemy-info p,
.selected-pokemon-card p {
    margin: 0;
    text-transform: uppercase;
}

.pokemon-info p,
.enemy-info p {
    margin-top: -12px;
}

.selected-pokemon-card,
.enemy-pokemon-card {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    background-color: #ffffffa8;
    border-radius: 10px;
    padding: 5px 0 5px;
    font-size: 1.1rem;
    font-weight: bolder;
    color: #043966;
    font-family: mono, sans-serif;
    box-shadow: 0px 4px 10px 1px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.enemy-pokemon-card {
    flex-direction: row;
}

.move-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #530a52;
    box-shadow: 0px 4px 10px 1px;
    border-radius: 10px;
    padding: 20px 0 20px 0;
    height: 100%;
    background: #ffffff7a;
}

.enemy-move-img {
    width: 50px;
    width: 70px;
    padding: 20px;
}

.pokemon-health-score,
.enemy-health-score {
    text-transform: none !important;
    color: #0a6f10;
}

.moves-container,
.move-box,
.enemy-move-info {
    display: flex;
    flex-direction: column;
    height: 275px;
    padding: 20px;
    border-right: 1px solid #530a52;
}

.enemy-move-info {
    border-right: none;
    border-left: 1px solid #530a52;
}

.enemy-move-info h3 {
    color: #530a52;
    margin: 0 0 20px;
    white-space: nowrap;
}

.move-box {
    border-right: none;
    border-left: 1px solid #530a52;
    width: 70%;
    align-self: center;
}

.move-box p {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    color: #530a52;
    margin: 0;
}

.moves-container h3 {
    color: #530a52;
    margin: 0 0 40px;
    white-space: nowrap;
}

.move-btn,
.fight-btn {
    color: #530a52;
    box-shadow: 0px 4px 10px 1px;
    border: 1px solid #530a52;
}

.move-btn.active {
    color: #530a52;
    box-shadow: 0px 4px 10px 1px;
    pointer-events: none;
}

.move-btn:disabled {
    color: grey;
    border: 1px solid darkgrey;
    box-shadow: 0px 4px 10px 1px;
    pointer-events: none;
    animation: none;
}

.fight-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.8rem;
}

.fight-btn:disabled {
    color: grey;
    box-shadow: 0px 4px 10px 1px;
    pointer-events: none;
    filter: grayscale(100%);
}

.boxing-gloves-img {
    height: 50px;
}

.reset-btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px 15px;
    transform: scale(1.1);
    border: 1px solid #26b399;
    margin-bottom: 25px;
}

.reset-btn:hover {
    transform: scale(1.2);
}

.reset-img {
    height: 30px;
}

.pulse {
    animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0px #8d168b71;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

.pulse-reset {
    animation: pulse-reset 2s infinite;
}

@keyframes pulse-reset {
    0% {
        box-shadow: 0 0 0 0px #16e1c0bf;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
}

/* FOOTER */

footer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 15px 0 15px 0;
    font-weight: normal;
    font-size: 0.8rem;
    color: #3821a8;
}

.footer-text a {
    text-decoration: none;
    color: #800e7e;
    font-style: normal;
    cursor: pointer;
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    z-index: 100;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 20px;
    margin: auto;
    width: 70%;
    max-width: 700px;
    /* height: 65%; */
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.51);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    gap: 15px;
}

.winner {
    width: 230px;
    margin-top: -25px;
}

.result-img {
    width: 150px;
    margin-bottom: 30px;
}

.result-msg {
    color: #6800ce;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    max-width: 350px;
}

.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
}
.close-btn:hover {
    color: darkgray;
}

@keyframes animatetop {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    .game-name {
        width: 80%;
    }

    .choices-title {
        font-size: 1.25rem;
    }

    .pokemon-wrapper {
        flex-direction: column;
        align-items: center;
    }

    #selected-pokemon,
    #enemy-pokemon {
        width: 309px;
    }

    #selected-pokemon button {
        margin: 0 0 16px 0;
    }

    .pokemon-info h3 {
        padding: 0 5px 5px;
        font-size: 1.25rem;
    }

    .enemy-pokemon-card {
        flex-direction: row-reverse;
    }

    .enemy-move-info {
        border: none;
    }

    .pokemon-info img,
    .enemy-info img {
        width: 150px;
    }

    .enemy-move-img {
        width: 55px;
    }

    .pokemon-info,
    .enemy-info {
        padding: 0 7px;
    }

    .pokemon-health-score,
    .enemy-health-score {
        font-size: 0.9rem;
    }

    .moves-container {
        border: none;
    }

    .moves-container,
    .move-box,
    .enemy-move-info {
        height: 245px;
    }

    .moves-container h3,
    .enemy-move-info h3 {
        white-space: normal;
        font-size: 1.25rem;
    }

    .move-btn {
        padding: 10px 5px;
    }

    .move-box {
        padding: 10px;
        height: 50%;
        border: none;
    }

    .move-box p {
        font-size: 0.9rem;
    }

    .pokemon-card img,
    .enemy-info img,
    .selected-pokemon-card img {
        width: 135px;
        /* padding: 10px; */
    }

    #play-btn {
        font-size: 1.2rem;
    }

    .fight-btn {
        font-size: 1.3rem;
        padding: 8px 15px;
        margin-top: 0;
    }

    .result-msg {
        font-size: 1.2rem;
        margin-top: -25px;
    }

    .reset-btn {
        margin-top: 0px;
    }
}

@media only screen and (max-width: 400px) {
    .fight-btn {
        display: none;
    }
}
